<div class="container-sm">
  <h2>Cart</h2>

  <mat-card class="cart-card">
    <!-- <mat-list class="cart-list"> -->
      <div *ngFor="let item of cartItems">

  <div class="cart-item-content">

    <img
      class="cart-item-img"
      [src]="item.product?.image ? 'http://localhost:3000' + item.product.image : '/assets/images/no-image.png'"
      [alt]="item.product?.productName || 'Product'"
    />

    <div class="cart-info">

      <p class="item-name">
        {{ item.product?.productName }}
      </p>

      <p class="item-price">
        {{ item.product?.price | currency:'PHP' }}
      </p>

      <div class="quantity-controls">

        <button
          mat-mini-fab
          color="primary"
          (click)="decreaseQuantity(item)">

          -

        </button>

        <span class="qty">

          {{ item.quantity }}

        </span>

        <button
          mat-mini-fab
          color="primary"
          (click)="increaseQuantity(item)">

          +

        </button>

      </div>

      <p class="subtotal">

        Subtotal:
        {{ item.product.price * item.quantity | currency:'PHP' }}

      </p>

      <button
        mat-button
        color="warn"
        (click)="removeItem(item)">

        Remove

      </button>

    </div>

  </div>

  <mat-divider></mat-divider>

</div>
    <!-- </mat-list> -->

    <mat-divider></mat-divider>

    <div class="cart-footer">
      <div class="total-section">
        <span class="total-label">Total:</span>
        <span class="total-amount">{{ totalPrice | currency: "PHP" }}</span>
      </div>

      <div class="action-buttons">
        <button mat-stroked-button color="warn" (click)="clearCart()">
          Clear Cart
        </button>
        <button mat-raised-button color="primary" (click)="checkout()">
          Checkout
        </button>
      </div>
    </div>
  </mat-card>
</div>
