<div class="checkout-page">

    <h1>🛍 Checkout</h1>

    <div class="checkout-grid">

        <!-- LEFT SIDE -->
        <div class="checkout-left">

            <div class="card">

                <h2>Order Items</h2>

                <div
                    class="product-item"
                    *ngFor="let item of cartItems">

                    <img
                        [src]="item.product.image ? 'http://localhost:3000'+item.product.image : 'assets/no-image.png'">

                    <div class="product-info">

                        <h3>{{ item.product.productName }}</h3>

                        <p>

                            Quantity: {{ item.quantity }}

                        </p>

                    </div>

                    <div class="product-price">

                        ₱{{ item.product.price * item.quantity }}

                    </div>

                </div>

            </div>

            <div class="card">

                <h2>Delivery Information</h2>

                <label>Delivery Address</label>

                <input
                    type="text"
                    [(ngModel)]="deliveryAddress"
                    placeholder="Enter complete delivery address">

                <button
    class="location-btn"
    (click)="getCurrentLocation()">

    📍 Use My Current Location

</button>

<p *ngIf="deliveryLatitude">

    Current Location Selected ✔

</p>

<div id="checkoutMap"></div>



            </div>

        </div>

        <!-- RIGHT SIDE -->

        <div class="checkout-right">

            <div class="summary-card">

                <h2>Order Summary</h2>

                <div class="row">

                    <span>Subtotal</span>

                    <span>₱{{ total }}</span>

                </div>

                <div class="row">

                    <span>Delivery Fee</span>

                    <span>FREE</span>

                </div>

                <hr>

                <div class="total">

                    <span>Total</span>

                    <strong>

                        ₱{{ total }}

                    </strong>

                </div>

                <button
                    class="checkout-btn"
                    (click)="placeOrder()">

                    Place Order

                </button>

            </div>

        </div>

    </div>

</div>
