<div class="container">
  <h2>🔥 Just For You</h2>

  <div class="grid">
    <mat-card
      *ngFor="let product of products"
      class="product-card"
      appearance="outlined"
    >
      <img
        mat-card-image
        [src]="'assets/images/' + product.imageUrl"
        [alt]="product.name"
      />

      <mat-card-content>
        <mat-card-title>
          {{ product.name }}
        </mat-card-title>
        <p>{{ product.imageUrl }}</p>
        <mat-card-subtitle> ₱{{ product.price }} </mat-card-subtitle>
      </mat-card-content>

      <button mat-raised-button color="primary" (click)="addToCart(product)">
        Add to Cart
      </button>
    </mat-card>
  </div>
</div>
