<div class="container">

    <h2 class="title">🛍️ LazHoppee Marketplace</h2>

    <div class="search-box">

    <input
        type="text"
        placeholder="Search products..."
        [(ngModel)]="searchText"
        (input)="searchProducts()">

</div>

    <div class="grid">

        <div
    class="product-card"
    *ngFor="let product of filteredProducts"
    [routerLink]="['/product', product._id]">

            <img
                [src]="product.image ? 'http://localhost:3000' + product.image : 'assets/no-image.png'"
                [alt]="product.productName">

            <div class="content">

    <h3>{{ product.productName }}</h3>

    <p class="category">
        {{ product.category.name }}
    </p>

    <p class="store">
        🏪 {{ product.store.storeName }}
    </p>

    <p class="rating">
        ⭐ {{ product.averageRating || 0 | number:'1.1-1' }}
        ({{ product.reviewCount || 0 }} Reviews)
    </p>

    <p class="stock"
       [class.out]="product.stock==0">

        Stock:
        {{ product.stock }}

    </p>

    <p class="description">

        {{ product.description }}

    </p>

    <h2 class="price">

        ₱{{ product.price }}

    </h2>

    <div class="buttons">

        <button
            class="details">

            View Details

        </button>

        <button

            class="cart"

            (click)="addToCart(product); $event.stopPropagation()"

            [disabled]="product.stock==0">

            {{ product.stock==0 ? 'Out of Stock' : 'Add to Cart' }}

        </button>

    </div>

</div>

                  

                </div>

            </div>

        </div>



