.container{
    width:90%;
    margin:30px auto;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#6a1b9a;
    color:white;
    padding:12px;
}

td{
    padding:12px;
    border:1px solid #ddd;
}

button{
    margin-right:8px;
    padding:6px 12px;
    cursor:pointer;
}
