<div class="products-page">

    <div class="page-header">

        <div>

            <h1>📦 My Products</h1>

            <p>Manage all products in your store.</p>

        </div>

        <button
            class="add-btn"
            routerLink="/seller/add-product">

            ➕ Add Product

        </button>

    </div>

    <div
        class="product-grid"
        *ngIf="products.length > 0">

        <div
            class="product-card"
            *ngFor="let product of products">

            <img
                [src]="product.image ? 'http://localhost:3000' + product.image : 'assets/no-image.png'">

            <div class="card-body">

                <h2>

                    {{ product.productName }}

                </h2>

                <span class="category">

                    {{ product.category?.name }}

                </span>

                <div class="price">

                    ₱{{ product.price }}

                </div>

                <div
                    class="stock"
                    [ngClass]="{

                    low: product.stock <= 5,

                    out: product.stock == 0

                }">

                    Stock:
                    {{ product.stock }}

                </div>

                <div class="buttons">

                    <button

                        class="edit"

                        [routerLink]="['/seller/edit-product',product._id]">

                        ✏ Edit

                    </button>

                    <button

                        class="delete"

                        (click)="deleteProduct(product._id)">

                        🗑 Delete

                    </button>

                </div>

            </div>

        </div>

    </div>

    <div
        class="empty"
        *ngIf="products.length==0">

        <h2>

            No products yet.

        </h2>

        <p>

            Add your first product to start selling.

        </p>

    </div>

</div>
