<div class="container" *ngIf="product">

  <div class="left">

    <img
      [src]="product.image ? 'http://localhost:3000' + product.image : 'assets/no-image.png'"
      [alt]="product.productName">

  </div>

  <div class="right">

    <h1>{{ product.productName }}</h1>

    <h2>₱{{ product.price }}</h2>

    <p>
      <strong>Category:</strong>
      {{ product.category?.name }}
    </p>

    <p>
      <strong>Store:</strong>
      {{ product.store?.storeName }}
    </p>

    <p>
      <strong>Stock:</strong>
      {{ product.stock }}
    </p>

    <hr>

    <h3>Description</h3>

    <p>{{ product.description }}</p>

    <br>

    <button (click)="addToCart()">
      Add to Cart
    </button>

    <hr>

<h2>Customer Reviews</h2>

<p *ngIf="reviews.length > 0">

  ⭐ Average Rating:

  {{ averageRating | number:'1.1-1' }}/5

</p>

<div *ngIf="reviews.length === 0">

  <p>No reviews yet.</p>

</div>

<div *ngFor="let review of reviews" class="review-card">

  <h4>{{ review.customer.fullname }}</h4>

  <p>

    ⭐ {{ review.rating }}/5

  </p>

  <p>

    {{ review.comment }}

  </p>

  <hr>

</div>

  </div>

</div>
