<div class="container" *ngIf="product">

  <div class="left">

    <img
      [src]="product.image ? 'http://localhost:3000' + product.image : 'assets/no-image.png'"
      [alt]="product.productName">

  </div>

  <div class="right">

    <h1>{{ product.productName }}</h1>

    <h2>₱{{ product.price }}</h2>

    <p>
      <strong>Category:</strong>
      {{ product.category?.name }}
    </p>

    <p>
      <strong>Store:</strong>
      {{ product.store?.storeName }}
    </p>

    <p>
      <strong>Stock:</strong>
      {{ product.stock }}
    </p>

    <hr>

    <h3>Description</h3>

    <p>{{ product.description }}</p>

    <br>

    <button (click)="addToCart()">
      Add to Cart
    </button>

  </div>

</div>
