<nav class="navbar">

  <div class="logo">
    <a routerLink="/home">LazHoppee</a>
  </div>

  <div class="links">

    <!-- CUSTOMER -->
    <ng-container *ngIf="role == 'customer'">

      <a routerLink="/home">Home</a>
      <a routerLink="/products">Products</a>
      <a routerLink="/cart">Cart</a>

    </ng-container>

    <!-- SELLER -->
    <ng-container *ngIf="role == 'seller'">

      <a routerLink="/seller">Dashboard</a>
      <a routerLink="/seller/create-store">My Store</a>

    </ng-container>

    <!-- ADMIN -->
    <ng-container *ngIf="role == 'admin'">

      <a routerLink="/admin">Dashboard</a>
      <a routerLink="/admin/category">Seller Management</a>
      <a routerLink="/admin/stores">Stores</a>

    </ng-container>

  </div>

  <div class="right">

    <ng-container *ngIf="!loggedIn">

      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>

    </ng-container>

    <ng-container *ngIf="loggedIn">

      <span>
        Welcome {{ fullname }}
      </span>

      <button (click)="logout()">
        Logout
      </button>

    </ng-container>

  </div>

</nav>

<router-outlet></router-outlet>
