<div class="add-product-page" *ngIf="store">

    <div class="form-card">

        <h1>✏️ Edit Product</h1>

        <p class="subtitle">

            Store:
            <strong>{{ store.storeName }}</strong>

        </p>

        <!-- Current Image -->

        <div class="preview" *ngIf="product.image">

            <label>Current Image</label>

            <img
                [src]="'http://localhost:3000' + product.image">

        </div>

        <!-- Upload -->

        <div class="image-upload">

            <label>Change Product Image</label>

            <input
                type="file"
                (change)="onFileSelected($event)">

        </div>

        <div class="form-group">

            <label>Product Name</label>

            <input
                type="text"
                placeholder="Product name"
                [(ngModel)]="product.productName">

        </div>

        <div class="form-group">

            <label>Description</label>

            <textarea
                rows="5"
                placeholder="Product description"
                [(ngModel)]="product.description">

            </textarea>

        </div>

        <div class="form-group">

            <label>Category</label>

            <select [(ngModel)]="product.category">

                <option value="">Select Category</option>

                <option
                    *ngFor="let category of categories"
                    [value]="category._id">

                    {{ category.name }}

                </option>

            </select>

        </div>

        <div class="two-column">

            <div class="form-group">

                <label>Price (₱)</label>

                <input
                    type="number"
                    [(ngModel)]="product.price">

            </div>

            <div class="form-group">

                <label>Stock</label>

                <input
                    type="number"
                    [(ngModel)]="product.stock">

            </div>

        </div>

        <div class="buttons">

            <button
                class="cancel-btn"
                routerLink="/seller/my-products">

                Cancel

            </button>

            <button
                class="save-btn"
                (click)="updateProduct()">

                💾 Update Product

            </button>

        </div>

    </div>

</div>
