<div class="container" *ngIf="store">

    <h1>Edit Product</h1>

    <hr>

    <p>
        <strong>Store:</strong>
        {{ store.storeName }}
    </p>

    <br>

    <div class="form-group">

        <label>Product Name</label>

        <input
            type="text"
            [(ngModel)]="product.productName">

    </div>

    <div class="form-group">

        <label>Description</label>

        <textarea
            rows="4"
            [(ngModel)]="product.description"></textarea>

    </div>

    <div class="form-group">

        <label>Category</label>

        <select [(ngModel)]="product.category">

            <option value="">Select Category</option>

            <option
                *ngFor="let category of categories"
                [value]="category._id">

                {{ category.name }}

            </option>

        </select>

    </div>

    <div class="form-group">

        <label>Price</label>

        <input
            type="number"
            [(ngModel)]="product.price">

    </div>

    <div class="form-group">

        <label>Stock</label>

        <input
            type="number"
            [(ngModel)]="product.stock">

    </div>

    <div class="form-group">

    <label>Product Image</label>

    <input
        type="file"
        (change)="onFileSelected($event)">

    <br><br>

    <img
        *ngIf="product.image"
        [src]="'http://localhost:3000' + product.image"
        width="150">

</div>

    <br>

    <button (click)="updateProduct()">

        Update Product

    </button>

</div>
