<div class="dashboard">

    <h1>Seller Dashboard</h1>

    <p class="welcome">
        Welcome,
        <strong>{{ fullname }}</strong>
    </p>

    <div class="card">

        <h2>🏪 My Store</h2>

        <div *ngIf="store; else noStore">


            <p>
                <strong>Name:</strong>
                {{ store.storeName }}
            </p>

            <p>
                <strong>Status:</strong>
                {{ store.status }}
            </p>

            <hr>

<h3>Allowed Categories</h3>

<div *ngIf="store.allowedCategories?.length > 0; else noCategories">

    <ul>

        <li *ngFor="let category of store.allowedCategories">

            {{ category.name }}

        </li>

    </ul>

</div>

<ng-template #noCategories>

    <p>No categories have been assigned yet.</p>

</ng-template>

            <br>

            <button
                routerLink="/seller/add-product"
                *ngIf="store.status === 'approved'">

                ➕ Add Product

            </button>

            <button
                routerLink="/seller/my-products"
                *ngIf="store.status === 'approved'">

                📦 My Products

            </button>

            <button
  mat-raised-button
  color="accent"
  routerLink="/seller/orders">
  📦 Orders
</button>

        </div>

        <ng-template #noStore>

            <p>
                You don't have a store yet.
            </p>

            <button routerLink="/seller/create-store">

                Create Store

            </button>

        </ng-template>

    </div>

</div>
