<div class="auth-container">

    <div class="auth-card">

        <h1>Forgot Password</h1>

        <!-- STEP 1 -->

        <div *ngIf="step==1">

            <label>Email</label>

            <input
                type="email"
                [(ngModel)]="email"
                placeholder="Enter your email">

            <button (click)="getQuestion()">

                Next

            </button>

        </div>

        <!-- STEP 2 -->

        <div *ngIf="step==2">

            <label>Security Question</label>

            <input
                [value]="securityQuestion"
                readonly>

            <label>Answer</label>

            <input
                type="text"
                [(ngModel)]="securityAnswer">

            <button (click)="verifyAnswer()">

                Verify

            </button>

        </div>

        <!-- STEP 3 -->

        <div *ngIf="step==3">

            <label>New Password</label>

            <input
                type="password"
                [(ngModel)]="newPassword">

            <button (click)="resetPassword()">

                Change Password

            </button>

        </div>

    </div>

</div>
